@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&family=Poppins:wght@400;500;700&family=Roboto:wght@400;700&display=swap');
body {
    box-sizing: border-box;
    background-color: #279EFF;
    font-family: 'Poppins', sans-serif;
}

.main-div {
    display: flex;
    gap: 0.625rem;
    background-color: white;
    height: 9.625rem;
    width: 30.875rem;
    padding-left: 1.15rem;
    padding-right: 2rem;
    position: relative;
    top: 10.5rem;
    left: 22.5rem;
    border-radius: 0.25rem;
}

.para {
    font-size: 1.5rem;
}


.head-para {
    position: absolute;
    top: 6.875rem;
    left: 28.125rem;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
}

.input {
    font-size: 1.1rem;
    width: 15rem;
    height: 2.2rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 0.5rem;
}

#decimalInput:hover {
    border-color: #279EFF !important;    
    border: 2px solid #279EFF !important;
}
